.hotelContainer{
	width: 60%;
	background-color: #F5F4F0;
	margin-left: 20%;
	margin-top: 10px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);

		h3{
			text-align: center;
			padding-top: 16px;
			margin-bottom: 16px;
		}

	.otherInfo{
		display: inline-block;
		width: 100%;

		.hotelImage{
			display: inline-block;
			float: left;
			width: 200px;
			margin-right: 2%;
			margin-bottom: 10px;
			margin-left: 2%;
		}

		.info{
			display: inline-block;
			width: 70%;
		}	
	}
}


@media (max-width: 600px) {
	.hotelsContainer{
		width: 100%;
		margin-left: 0;
		
		.hotelContainer{
			width: 98%;
			margin-left: 1%;

			.otherInfo{
				display: inline-block;
				width: 100%;

			.hotelImage{
				display: block;
				width: 200px;
				margin: 10px auto;
				float: none;
			}

			.info{
				display: inline-block;
				width: 80%;
				margin-left: 10%;
			}	
	}
		}
}


}