

@import url("https://fonts.googleapis.com/css?family=Economica");

.mainContainer{

	.imageDiv{
		width: 60%;
		margin-left: 20%;
		margin-top: 20px;
		min-height: 60vh;
		background-image: url('../../../img/jacksonHole.png');
		opacity: 1;
		border: 6px solid rgba(0,0,0,1);
		background-position: 50% 0;
		background-size: cover;
	}

	.weddingTitle{
		text-align: center;
		font-size: 34px;
		color: #000088;
		font-weight: 800;
		font-family: 'economica', sans-serif;
		text-shadow: 1px 1px 3px #fff;
		line-height: 26px;
		margin-bottom: 16px;
	}

	h2{
		text-align: center;
		font-size: 26px;
		color: #000088;
		font-weight: 800;
		font-family: 'economica', sans-serif;
		text-shadow: 1px 1px 3px #fff;
		margin-top: 0;
		margin-bottom: 0;
	}

	.countdown{
		margin-top: 12px;
	}

	p{
		text-align: center;
		font-size: 26px;
		color: #000088;
		font-weight: 800;
		font-family: 'economica', sans-serif;
		text-shadow: 1px 1px 3px #fff;

		&.firstLine{
			margin-top: 20px;
		}
	}
}


@media (max-width: 600px) {
  .mainContainer{

	  .imageDiv{
	  	background-image: url('../../../img/longLakeSunset.png');
	  	width: 90%;
	  	margin-left: 5%;
	  	margin-top: 10px;
	  	background-position: 0 0;
	  }

	  .weddingTitle{
	  	margin-top: 4px;
	  }
  }
}