@import url("https://fonts.googleapis.com/css?family=Economica:400,700i");

.drawerContainer{
	position: absolute;
	left: -100%;
	transition: all 0.5s;
	height: 100%;
	width: 98%;
	background-color: #fff;
	z-index: 9999;
	top: 0;

	&.open{
		left: 0;
		transition: all 0.5s;
	}

	.navDrawerList{
		padding: 0;
	}

	.linkZero{
		background-color: #d7ebf4;
		height: 56px;
	}

	.linkOne{
		position: relative;
		margin-left: -110%;
		transition: all 0.2s;
		background-color: #bce2f2;

		&.open{
			margin-left: 0;
			transition: all 0.2s;
		}
	}
	.linkTwo{
		position: relative;
		margin-left: -120%;
		transition: all 0.3s;
		background-color: #a2daf0;

		&.open{
			margin-left: 0;
			transition: all 0.3s;
		}

	}
	.linkThree{
		position: relative;
		margin-left: -130%;
		transition: all 0.4s;
		background-color: #88d1ef;

		&.open{
			margin-left: 0;
			transition: all 0.4s;
		}
	}
	.linkFour{
		position: relative;
		margin-left: -140%;
		transition: all 0.5s;
		background-color: #6ec9ed;

		&.open{
			margin-left: 0;
			transition: all 0.5s;
		}
	}
	.linkFive{
		position: relative;
		margin-left: -150%;
		transition: all 0.6s;
		background-color: #54c0ec;

		&.open{
			margin-left: 0;
			transition: all 0.6s;
		}
	}
	.linkSix{
		position: relative;
		margin-left: -150%;
		transition: all 0.7s;
		background-color: #3ab8ea;

		&.open{
			margin-left: 0;
			transition: all 0.7s;
		}
	}
	.linkSeven{
		position: relative;
		margin-left: -160%;
		transition: all 0.8s;
		background-color: #20b0e9;

		&.open{
			margin-left: 0;
			transition: all 0.8s;
		}
	}

	.navLink{
			text-decoration: none;
			text-align: center;
			color: #000088;
			font-family: 'economica';
			font-size: 24px;
			font-weight: 400;
			padding: 2px;
			margin-left: 20px;
			line-height: 72px;

			&:hover{
				color: #082541;
				font-weight: 700;
				font-style: italic;
			}
		}
}