.eventsContainer{
	width: 100;

	.names{
		text-align: center;
		margin-top: 60px;
		font-size: 48px;
	}

	.day{
		width: 60%;
		margin-left: 20%;
		text-align: center;
		margin-bottom: 20px;

		.dayHeading{
			font-size: 24px;
			text-decoration: underline;
		}
	}
}