.eventsContainer{
	width: 100;

	.names{
		text-align: center;
		margin-top: 100px;
		font-size: 64px;
	}

	.descriptionText{
		text-align: center;
		font-size: 24px;
		color: #fff;

		&.top{
			margin-top: 360px;
		}
	}
}