.eventsContainer{
	width: 80%;
	margin-left: 10%;
	background-color: #F5F4F0;
	padding-bottom: 30px;

	.names{
		text-align: center;
		margin-top: 60px;
		font-size: 48px;
	}

	h4{
		font-family: "economica";
	}

	.day{
		width: 60%;
		margin-left: 20%;
		text-align: center;
		margin-bottom: 20px;

		.dayHeading{
			font-size: 24px;
			font-weight: 800;
		}
	}
}